@(message: String)

@Main("Home") {
   <div class="container">
     <h1>Welcome to TextBookMania!</h1>
     <h2> </h2>
     <p>To see a list of textbooks click on <a href = "@routes.Application.listTextbooks()">Textbook List</a>.</p>
     <p>To see a list of students click on <a href = "@routes.Application.listStudents()">Student List</a>.</p>
     <p>To see a list of buy offers click on <a href = "@routes.Application.listBuyOffers()">Buy Offer List</a>.</p>
     <p>To see a list of sell offers click on <a href = "@routes.Application.listSellOffers()">Sell Offer List</a>.</p>
     <p>To create a new student profile click on <a href = "@routes.Application.newStudent()">New Student</a> and fill out the form as shown.</p>
     <p>To create a new buy offer click on <a href = "@routes.Application.newBuyOffer()">New Buy Offer</a> and fill out the form as shown.</p>
     <p>To create a new sell offer click on <a href = "@routes.Application.newSellOffer()">New Sell Offer</a> and fill out the form as shown.</p>
     <p>To create a new textbook page click on <a href = "@routes.Application.newTextbook()">New Textbook</a> and fill out the form as shown.</p>
     <p>To search for matches for a search click on <a href = "@routes.Application.matchPage()">Match</a> and fill out information.</p>
   </div>
}
