@(message: String) 
@import models._

@Main("Home") {

<div class="container">
  <h2>Current offers</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Student selling</th>
        <th>Textbook</th>
        <th>Price</th>
        <th>Expiration</th>
      </tr>
    </thead>
    @for(offer <- SellOfferDB.getOffers()) {
    <tr> 
      <td>@offer.getStudent() </td>
      <td>@offer.getTextbook()</td>
      <td>@offer.getPrice()</td>
      <td>@offer.getExpiration()</td>
      <td><a href="@routes.Application.manageSellOffer(offer.getId())">Edit</a></td>
      <td><a href="@routes.Application.deleteSellOffer(offer.getId())">Delete</a></td>            
    </tr>
    }
  </table>
</div>
}
