@(buyOfferForm: Form[views.formdata.BuyOfferFormData])

@import helper._
@import bootstrap3._
@import models._

@Main("BuyOffer Management") {

<div class="container" style="margin-top:20px">
  @form(routes.Application.postBuyOffer(), 'class -> "form-horizontal") {
  
  @hidden(buyOfferForm("id"))
  
  @bootstrap3.selectFromList(buyOfferForm("student"),
    label = "Student",
    students2 = models.StudentDB.getStudents(),
    isMultiple = false,
    help = "Student Name")

  @bootstrap3.selectFromList2(buyOfferForm("textbook"),
    label = "Textbook",
    textbooks2 = models.TextbookDB.getTextbooks(),
    isMultiple = false,
    help = "Textbook")  

  @text(buyOfferForm("price"),
        label = "Price",
        placeholder = "$X",
        help = "Textbook price.")        

  @text(buyOfferForm("expiration"),
        label = "Expiration",
        placeholder = "MM/dd/yy",
        help = "The expiration date.")
                           
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  }
</div>
        
}
