@(textForm: Form[views.formdata.TextbookFormData], typeMap: Map[String, Boolean])

@import helper._
@import bootstrap3._

@Main("Textbook Management") {

<div class="container" style="margin-top:20px">
  @form(routes.Application.postTextbook(), 'class -> "form-horizontal") {

  @text(textForm("title"),
        label = "Title",
        placeholder = "Textbook's title",
        help = "The title of the textbook.")
        
  @text(textForm("author"),
        label = "Author",
        placeholder = "Author's name",
        help = "The author of the textbook.")

  @text(textForm("isbn"),
        label = "ISBN",
        placeholder = "Textbook's ISBN",
        help = "The ISBN of the textbook.")
        
  @text(textForm("imageURL"),
        label = "Image URL",
        placeholder = "http://example.com/img.png",
        help = "The url of the textbook image.")     

  @bootstrap3.select(textForm("conditionType"),
        label = "Condition",
        optionMap = typeMap,
        isMultiple = false,
        help = "The condition of the textbook.")
                           
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  }
</div>
        
}
