@(studentForm: Form[views.formdata.StudentFormData], matches: Map[String, Boolean]) @Main("Home") {
<div class="container">

  @bootstrap3.select(studentForm("name"), 
                     label = "Student Name: ", 
                     optionMap = matches,
                     isMultiple = false, help ="")

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Find Matches</button>
        </div>
    </div>

</div>
}
